.menu {
    position: absolute;
    width: 75px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    transition: 0.3s;
}



.menu-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: 100%;
    height: 100px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-img {
    width: 70px;
    height: 70px;
    background: url("../../assets/icon_latest.svg") center/contain no-repeat;
}

.icon {
    color: #fff;
    font-size: 1.5rem;
}

.menu:hover {
    width: 200px;

    .logo {
        flex-direction: row;
    }

    .logo-title {
        width: 70px;
        height: 70px;
        background: url("../../assets/title_latest.svg") center/contain no-repeat;
    }

    .icon-item {
        justify-content: start;
        padding: 10px 20px;
    }

    .icon-desc {
        display: block;
    }
}

.icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    transition: 0.2s;
}

.icon-desc {
    color: #fff;
    display: none;
}

.icon-item:hover {
    background-color: rgba(0, 0, 0, 0.5);

    .icon {
        color: yellow;
        scale: 1.1;
    }

    .icon-desc {
        color: yellow;
        scale: 1.1;
    }
}

